@model PetArticleServiceModel

@{
    ViewBag.Title = "Admin area";
}

<partial name="_PageTitlePartial" />


<section class="py-9 pt-md-5">
    <div class="container">
        <partial name="_AdminMenuPartial" />        

        <div class="col-12">
            <h3 class="element-title">Last 10 Added Pets</h3>
            <hr class="mt-2" />
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Type</th>
                        <th scope="col">Lost/Found</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var pet in @Model.Pets)
                   {
                    <tr>
                        <th>@pet.Id</th>
                        <td>@pet.Name</td>
                        <td>@pet.Type</td>
                        <td>@pet.LostOrFound</td>
                        <td>
                            <div class="d-grid gap-2 d-md-flex" style="align-items: end;">
                                <a asp-controller="Pets" asp-action="Edit" asp-route-id="@pet.Id" class="btn btn-info btn-sm">Edit</a>
                                <a asp-controller="Pets" asp-action="Delete" asp-route-id="@pet.Id" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to delete this pet from the database?')">Delete</a>
                            </div>
                        </td>
                    </tr>
                   }
                </tbody>
            </table>

            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <a asp-controller="Pets" asp-action="All" class="smoothScroll btn btn-secondary btn-rounded text-center" style="color: #fdc57b;" width="32" alt=""> View All </a>
            </div>

        </div>

        <div class="col-12">
            <h3 class="element-title">Last 10 Created Articles</h3>
            <hr class="mt-2" />
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th scope="col">User</th>
                        <th scope="col">Title</th>
                        <th scope="col">Content</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var article in @Model.Articles)
                   {
                    <tr>
                        <td>@article.CreatorName</td>
                        <td>@article.Title</td>
                        <td>@article.Content.Substring(0, 200)</td>
                        <td>
                            <div class="d-grid gap-2 d-md-flex" style="align-items: center;">
                                <a asp-controller="Articles" asp-action="Edit" asp-route-id="@article.Id" class="btn btn-info btn-sm">Edit</a>
                                <a asp-controller="Articles" asp-action="Delete" asp-route-id="@article.Id" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to delete this article from the database?')">Delete</a>
                            </div>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <a asp-controller="Articles" asp-action="All" class="smoothScroll btn btn-secondary btn-rounded text-center" style="color: #fdc57b;" width="32" alt=""> View All </a>
            </div>
        </div>

    </div>
</section>


