@model PetDetailsViewModel

@{
    ViewBag.Title = "Details";
}

<article class="postcard light green">
    <a class="postcard__img_link" href="#">
        <img class="postcard__img" src="@Model.ImageUrl" alt="@Model.PetType @Model.Name" />
    </a>
    <div class="postcard__text">
        <h1 class="postcard__title green"><a href="#">@Model.Name</a></h1>
        <div class="postcard__subtitle small">
            <time datetime="2020-05-25 12:00:00">
                <i class="fas fa-calendar-alt mr-2"></i>Mon, May 25th 2020
            </time>
        </div>
        <div class="postcard__bar"></div>
        <div class="postcard__preview-txt">
            <div class="row">
                <div class="column">
                    <p>Age: @Model.Age</p>
                    <p>Pet type: @Model.PetType</p>
                    <p>Gender: @Model.Gender</p>
                    <p>Size: @Model.SizeCategory</p>
                    <p>Breed: @Model.Breed</p>
                    <p>Color: @Model.Color</p>
                    <p>Microchip ID: @Model.MicrochipId</p>
                    @if(Model.IsFound)
                    {
                        <p>Found Location: @Model.FoundLocation at @Model.FoundDate</p>
                    }
                    @if(Model.IsLost)
                    {
                        <p>Last seen: @Model.LastSeenLocation at @Model.LostDate</p>
                    }
                </div>
                <div class="column">
                    <p>Shelter: @Model.Shelter.Name</p>
                    <p>Location: @Model.Shelter.Address</p>
                    <p>Phone number: @Model.Shelter.PhoneNumber</p>
                    <p>Email: @Model.Shelter.Email</p>
                    <p>Website: @Model.Shelter.Website</p>
                </div>
            </div>
        </div>

        @if(!Model.IsAdopted)
        {
            <ul class="postcard__tagbox">
            <li class="tag__item play green">
                <a asp-controller="Pets" asp-action="AdoptMe" asp-route-id="@Model.Id">
                    <i class="fas fa-home mr-2"></i>Adopt me</a>
            </li>
        </ul>
        }
        @if(Model.IsAdopted)
        {
            <ul class="postcard__tagbox">
            <li class="tag__item play green">
                <a><i class="fa fa-smile-o"></i>I am adopted</a>
            </li>
        </ul>
        }
    </div>
</article>