@model IEnumerable<EventServiceModel>

@{
    ViewBag.Title = "Upcoming events";
}

@if (!Model.Any())
{
    <h1 class="text-center" style="margin: 10rem 0 3rem 0; font-size: 4.5rem; font-weight: 300; line-height: inherit">No events at the moment</h1>
}

@if (Model.Any())
{
    <div class="container py-4 mt-5">
        <h2 class="font-weight-light text-center text-muted py-3">@ViewBag.Title</h2>

            @foreach (var ev in Model)
            {
        <!-- timeline item 1 -->
    <div class="row">
                 <!-- timeline item 1 left dot -->
        <div class="col-auto text-center flex-column d-none d-sm-flex">
            <div class="row h-50">
                <div class="col">&nbsp;</div>
                <div class="col">&nbsp;</div>
            </div>
            <h5 class="m-2">
                <span class="badge rounded-pill bg-light border">&nbsp;</span>
            </h5>
            <div class="row h-50">
                <div class="col border-end order">&nbsp;</div>
                <div class="col">&nbsp;</div>
            </div>
        </div>
        <!-- timeline item 1 event content -->
        <div class="col py-2">
            <div class="card">
                <div class="card-body">
                    <div class="float-end text-muted">@ev.Date.Substring(0, 10)</div>
                    <h4 class="card-title" style="color: #5e9693;">@ev.Title</h4>
                    <p class="card-text">@ev.Description</p>
                    <h5 class="text-muted">@ev.Location</h5>
                </div>
            </div>
        </div>
    </div>
    <!--/row-->      
            }
        </div>
}