@model List<PetListingViewModel>

@{
    ViewBag.Title = "Welcome";
}

@if (Model.Any())
{
            @foreach (var pet in Model)
            {
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
                <div class="col-md-4">
                    <img src="@pet.ImageUrl"
                 alt="@pet.Name @pet.Sex"
                 class="img-fluid rounded-start" />
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">@pet.Name</h5>
                        <p class="card-text">
                            @pet.Sex, @pet.Age
                        </p>
                        <p class="card-text">
                            <small class="text-muted">@pet.Shelter</small>
                        </p>
                    </div>
                </div>
        </div>
    </div>
            }
}