@model IEnumerable<ArticleServiceModel>

@{
    ViewBag.Title = "Articles";
}

@if (!Model.Any())
{
    <h1 class="text-center" style="margin: 10rem 0 3rem 0; font-size: 4.5rem; font-weight: 300; line-height: inherit">No articles at the moment</h1>
}

@if (Model.Any())
{
    <section id="gallery" style="margin-top: 5rem;">
        <div class="container-fluid mx-auto row row-cols-4 row-cols-md-2 row-cols-sm-1 g-4">
            @foreach (var article in Model)
            {
                <div class="col-lg-4 mb-4">
                    <div class="card h-100">
                        <img src="@article.ImageUrl" class="card-img-top" style="width: 100%; height: 15vw; object-fit: cover;">
                        <div class="card-body">
                            <h5 class="card-title">@article.Title</h5>
                            <h6 class="card-subtitle mb-2 text-muted">@article.CreatorName</h6>
                            <p class="card-text">@Html.Raw(article.Content.Substring(0, 120)) . . .</p>
                            <h6 class="card-subtitle mb-2 text-muted">@article.CreatedOn.Substring(0, 11)</h6>
                            <a asp-controller="Articles" asp-action="Read" asp-route-id="@article.Id" class="btn btn-outline-success btn-sm">Read More</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </section>
}
