@model PetArticleServiceModel

@{
    ViewBag.Title = "Admin area";
}

<partial name="_PageTitlePartial" />


<section class="py-9 pt-md-5">
    <div class="container">
        <partial name="_AdminMenuPartial" />        

        <div class="col-12">
            <h3 class="element-title">Last 10 Added Pets</h3>
            <hr class="mt-2" />
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Type</th>
                        <th scope="col">Lost/Found</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var pet in @Model.Pets)
                   {
                    <tr>
                        <th scope="row">@pet.Id</th>
                        <td>@pet.Name</td>
                        <td>@pet.Type</td>
                        <td>@pet.LostOrFound</td>
                        <td>
                            <div class="d-grid gap-2 d-md-flex justify-content-start">
                                <a class="btn btn-outline-success" >Delete</a> |
                                <a class="btn btn-outline-info" >Edit</a>
                            </div>
                        </td>
                    </tr>
                   }
                </tbody>
            </table>

            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <a asp-controller="Pets" asp-action="All" class="smoothScroll btn btn-secondary btn-rounded text-center" style="color: #fdc57b;" width="32" alt=""> View All </a>
            </div>

        </div>

        <div class="col-12">
            <h3 class="element-title">Last 10 Created Articles</h3>
            <hr class="mt-2" />
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">User</th>
                        <th scope="col">Title</th>
                        <th scope="col">Content</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>User here</td>
                        <td>Title here</td>
                        <td>Content here</td>
                        <td>
                            <div class="d-grid gap-2 d-md-flex justify-content-start">
                                <a class="btn btn-outline-success" >Approve</a> |
                                <a class="btn btn-outline-info" >Edit</a> |
                                <a class="btn btn-outline-danger" >Decline</a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <a href="####" class="smoothScroll btn btn-secondary btn-rounded text-center" style="color: #fdc57b;" width="32" alt=""> View All </a>
            </div>
        </div>

    </div>
</section>


