@model PetQueryServiceModel

@{
    ViewBag.Title = "Your Perfect Matches";
}

<section class="page-title" style="margin-top: 5rem;">
    <div class="row align-items-center justify-content-center height100px">
        <div class="col-auto">
            <div class="page-title-content">
                <div class="title-border">
                    <h1 class="text text-uppercase font-weight-bold">@ViewBag.Title</h1>
                </div>
            </div>
        </div>
    </div>
</section>

@if (Model.Items.Any())
{
    <div class="row row-cols-4 row-cols-md-3 g-4" style="margin-top: 1rem">
        @foreach (var pet in Model.Items)
        {
            <div class="col-lg-4 mb-4">
                <div class="card h-100">
                    <img src="@pet.ImageUrl" alt="@pet.Name @pet.Age" class="card-img-top" style="width: 100%; height: 15vw; object-fit: cover;">
                    <div class="card-body">
                        <h5 class="card-title text-center">@pet.Name</h5>
                        <p class="card-text text-center">Age: @pet.Age, Gender: @pet.Gender,</p>
                        <p class="card-text text-center">Location: @pet.ShelterName</p>
                        <div class="d-grid gap-2">
                            <a class="btn btn-outline-success" asp-controller="Pets" asp-action="Details" asp-route-id="@pet.Id">Details</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}
@if (!Model.Items.Any())
{
    <h1 class="text-center" style="margin: 10rem 0 3rem 0; font-size: 4.5rem; font-weight: 300; line-height: inherit">Currently there are no pets matching</h1>
}

@{
    var previousPage = Model.CurrentPage - 1;
    if (previousPage < 1)
    {
        previousPage = 1;
    }

    var maxPage = Math.Ceiling((double)Model.TotalItems / Model.PageSize);
}

<div class="row mb-5">
    <div class="col-md-6">
        <a class="btn btn-success @(Model.CurrentPage == 1 ? "disabled" : string.Empty)" style="margin-top: 10px"
           asp-controller="Home"
           asp-action="Results"
           asp-route-currentPage="@previousPage"
           asp-route-pageSize="@Model.PageSize"
           asp-route-filters="@Model.Filters"><i class="fa-solid fa-angles-left"></i> Previous page</a>
    </div>

    @{
        var shouldButtonBeDisabled = Model.CurrentPage == maxPage ||
                !Model.Items.Any();
    }

    <div class="col-md-6">
        <a class="btn btn-success float-end @(shouldButtonBeDisabled ? "disabled" : string.Empty)" style="margin-top: 10px"
           asp-controller="Home"
           asp-action="Results"
           asp-route-currentPage="@(Model.CurrentPage + 1)"
           asp-route-pageSize="@Model.PageSize"
           asp-route-filters="@Model.Filters">Next page <i class="fa-solid fa-angles-right"></i></a>
    </div>
</div>