@model IEnumerable<EventServiceModel>

@{
    ViewBag.Title = "Events Administration";
}

<partial name="_PageTitlePartial" />


<section class="py-9 pt-md-5">
    <div class="container">
        <partial name="_AdminMenuPartial" />
        <a asp-area="" asp-controller="Events" asp-action="Create" class="btn btn-outline-success mb-3" style="color: #fdc57b;">Create New</a>
        <div class="col-12">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Title</th>
                        <th scope="col">Description</th>
                        <th scope="col">Location</th>
                        <th scope="col">Date</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                     @foreach (var ev in @Model)
                   {
                    <tr>
                        <td>@ev.Id</td>
                        <td>@ev.Title</td>
                        <td>@ev.Description</td>
                        <td>@ev.Location</td>
                        <td>@ev.Date</td>
                        <td>
                            <div class="d-grid gap-2 d-md-flex justify-content-start">
                                <a asp-controller="Events" asp-action="Edit" asp-route-id="@ev.Id" class="btn btn-info btn-sm"><i class="fa-solid fa-pen-to-square"></i> Edit</a>
                                <a asp-controller="Events" asp-action="Delete" asp-route-id="@ev.Id" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to delete this event from the database?')"><i class="fa-solid fa-trash"></i> Delete</a>
                            </div>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>