@model IEnumerable<ShelterServiceModel>

@{
    ViewBag.Title = "Shelters Administration";
}

<partial name="_PageTitlePartial" />

<section class="py-9 pt-md-5">
    <div class="container">
        <partial name="_AdminMenuPartial" />
        <a asp-controller="Shelters" asp-action="Add" class="btn btn-outline-success mb-3" style="color: #fdc57b;">Add New</a>
        <div class="col-12">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Address</th>
                        <th scope="col">Email</th>
                        <th scope="col">PhoneNumber</th>
                        <th scope="col">Description</th>
                        <th scope="col">Website</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var shelter in Model)
                    {
                        <tr>
                            <td scope="col">@shelter.Id</td>
                            <td scope="col">@shelter.Name</td>
                            <td scope="col">@shelter.Address</td>
                            <td scope="col">@shelter.Email</td>
                            <td scope="col">@shelter.PhoneNumber</td>
                            <td scope="col">@shelter.Description</td>
                            <td scope="col">@shelter.Website</td>
                            <td scope="col">
                                <div class="d-grid gap-2 d-md-flex justify-content-start">
                                    <a asp-controller="Shelters" asp-action="Edit" asp-route-id="@shelter.Id" class="btn btn-info btn-sm"><i class="fa-solid fa-pen-to-square"></i> Edit</a>
                                    <a asp-controller="Shelters" asp-action="Delete" asp-route-id="@shelter.Id"
                               class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to delete this Shelter?')"><i class="fa-solid fa-trash"></i> Delete</a>
                                </div>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</section>
